@charset "utf-8";
/* CSS Document */
.menubar
{
	height : 900px;
}
#succes
{
	font-size : 18px;
	margin-top : 100px;
	padding : 20px;
	margin-left : 350px;
	width: 800px;
	clear: both;
	position: absolute;
	border: double 5px #FF9933;
	
}
#succes h1
{
	text-align:  center;
}
